#vscode
.vscode/

#node_modules
backend/node_modules
frontend/node_modules

#package-lock
backend/package-lock.json
frontend/package-lock.json

#prettier
.prettierignore
.prettierrc.yml

#eslint
back/end.eslintrc.json
frontend/.eslintrc.json